/* Colours */

$primary: #f16c20;
$secondary: #e14fad;
$lightgray: #ccc;
$darkgray: #777;

/* Border Radius  */
$stdrad: 5px;
$comprad: 2px;

/* Box Shadows */
$stdshad: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);